body{
    background: #05292e;
    color: white;
}

.container{
    background: #05292e;
    color: white;
}

.container-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    color: #79b723;
    margin-top: 20px;
}

.content__location{
    margin: 20px 0px;
    border-radius: 20px;
    background: #072226;
}

.content__description{
    display: flex;
    justify-content: space-between;
    width: 520px;
    padding: 30px;
}

.content__description li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-resident{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.container-resident article{
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    width: 100%;
    max-width: 250px;
    background: #072226;
    border-radius: 10px;
}

.content_resident_header{
    position: relative;
}
.content_resident_photo{
    width: 100%;
    max-width: 270px;
    border-radius: 10px 10px 0 0;
}

.content_resident_status{
    position: absolute;
    top: 40px;
}

.status{
    display: block;
    width: 100%;
    padding: 5px;
    border-radius: 0 10px 10px 0;
    background: #072226;
}

.content_resident_section{
    width: 100%;
    max-width: 210px;
}
.content_resident_name{
    text-align: center;
}


.content__info__resident{
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 20px 0;
}

.content__info__resident li{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.item{
    padding-left: 10px;
    padding-bottom: 10px;
}